/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	color: black;
	background: center / 100% no-repeat
		url('https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/best-hp-desktop-computers-for-college-students-2019-hero1560889203851620.jpg');
}

@media screen and (max-width: 966px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
