/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #2c89da;
	--ifm-color-primary-dark: #237cc9;
	--ifm-color-primary-darker: #2175bd;
	--ifm-color-primary-darkest: #1b609c;
	--ifm-color-primary-light: #4295de;
	--ifm-color-primary-lighter: #4d9ce0;
	--ifm-color-primary-lightest: #6faee6;
	--ifm-code-font-size: 95%;

	--ifm-navbar-background-color: var(--ifm-color-primary);
	--ifm-navbar-link-color: #ffffff;
	--ifm-navbar-link-hover-color: #d8d8d8;
	--ifm-button-color: #ffffff;
}

.docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.3);
}



.footer {
	--ifm-footer-background-color: #2c89da;
}
